html{
	background : linear-gradient(rgba(255, 0, 0, 0.6), rgba(128, 0, 0, 0.6));
	background-repeat: no-repeat;
	height: 120%;
}
body{
	background: rgba(240,102,102,255);
	background-repeat: no-repeat;
}

.title-header{
	font-size: 25px;
}
.div-header{
	margin-top: 200px;
	background : white;
	width: 500px;
	border: 0 none;
}
.login-content{
	display: flex;
	justify-content: center;
	border: 0 none;
	width: 500px;
	height: 300px;
	background : white;
}
.table-design{
	margin-top: 30px;
	padding-top: 2px;
}
fieldset button{
	
}