
.background-content, .header-navigation{
	background-color: white;
}
.background-content{
	
}
th{
	font-size: 14px;
}
.content-navigation-grades{
	display: flex;
	justify-content: center;
}
.student-navigation-grades{
	display: flex;
	justify-content: center;
	height: auto;
}
.card-design{
	margin-top: 12px;
	padding-top: 5px;
}
.link-design:hover{
	color: blue;
	text-decoration: underline;
	font-size: 18px;
	font-weight: bold;
	cursor: default;
}
.search_content{
	margin-left: 15px;
}
.search_content_parent{
	margin-left: 0px;
}
.table-background{
	background: #ede9e8;
}
.table-background-content{
	background: #ffffff;
}