
.background-content, .header-navigation{
	background-color: white;
	border-radius: 12px;
}
th{
	font-size: 14px;
}
.content-navigation-grades{
	display: flex;
	justify-content: center;
}
.student-navigation-grades{
	display: flex;
	justify-content: center;
	height: auto;
}
.card-design{
	margin-top: 12px;
	padding-top: 5px;
}